body::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Opcional: sólo si quieres que el fondo sea transparente */
}

body {
    overflow: auto;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

.submitButton{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #FFBE00;
    color: #fff;
    text-decoration: none;
    width: 100%;
    text-align: center; /* Centrar el texto dentro del botón */
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

p {
    margin-bottom: 10px;
}

#contact {
    max-width: 600px;
    margin: 0 auto;
}

#about, #faqs {
    max-width: 800px;
    margin: 0 auto;
}
